.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.rs-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 164px;
  width: 242px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  border: 0.8em solid transparent; }

.rs-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 164px;
  width: 242px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  border: 0.8em solid transparent; }

.img-box:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.rs-img-box:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.img-container div:nth-child(1) {
  background-image: url(../img/logos/bylined.png); }

.img-container div:nth-child(2) {
  background-image: url(../img/logos/carely.png); }

.img-container div:nth-child(3) {
  background-image: url(../img/logos/circa.png); }

.img-container div:nth-child(4) {
  background-image: url(../img/logos/college.png); }

.img-container div:nth-child(5) {
  background-image: url(../img/logos/chicken.png); }

.img-container div:nth-child(6) {
  background-image: url(../img/logos/elite.png); }

.img-container div:nth-child(7) {
  background-image: url(../img/logos/cwd.png); }

.img-container div:nth-child(8) {
  background-image: url(../img/logos/hansya.png); }

.img-container div:nth-child(9) {
  background-image: url(../img/logos/know.png); }

.img-container div:nth-child(10) {
  background-image: url(../img/logos/move.png); }

.img-container div:nth-child(11) {
  background-image: url(../img/logos/nikola.png); }

.img-container div:nth-child(12) {
  background-image: url(../img/logos/rekovo.png); }

.img-container div:nth-child(13) {
  background-image: url(../img/logos/genetesis.png); }

.img-container div:nth-child(14) {
  background-image: url(../img/logos/seamless.png); }

.img-container div:nth-child(15) {
  background-image: url(../img/logos/ave.png); }

.rs-img-container div:nth-child(1) {
  background-image: url(../img/rs-logos/baymont.png); }

.rs-img-container div:nth-child(2) {
  background-image: url(../img/rs-logos/best.png); }

.rs-img-container div:nth-child(3) {
  background-image: url(../img/rs-logos/comfort.png); }

.rs-img-container div:nth-child(4) {
  background-image: url(../img/rs-logos/holiday.png); }

.rs-img-container div:nth-child(5) {
  background-image: url(../img/rs-logos/howard.png); }

.rs-img-container div:nth-child(6) {
  background-image: url(../img/rs-logos/quality.png); }

.rs-img-container div:nth-child(7) {
  background-image: url(../img/rs-logos/ramada.png); }

/*# sourceMappingURL=imagegrid.css.map */
