
.img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.rs-img-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.img-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    transition: all 0.2s;
    height: 164px;
    width: 242px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(100%);
    transform: scale(1);
    cursor: pointer;
    border: 0.8em solid transparent;
}

.rs-img-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    transition: all 0.2s;
    height: 164px;
    width: 242px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(100%);
    transform: scale(1);
    cursor: pointer;
    border: 0.8em solid transparent;
}

.img-box:hover {
    transition: all 0.4s;
    filter: grayscale(0%);
    transform: scale(1.2);
}

.rs-img-box:hover {
    transition: all 0.4s;
    filter: grayscale(0%);
    transform: scale(1.2);
}

.img-container {
    div:nth-child(1) {
        background-image: url(../img/logos/bylined.png);
    }

    div:nth-child(2) {
        background-image: url(../img/logos/carely.png);
    }

    div:nth-child(3) {
        background-image: url(../img/logos/circa.png);
    }

    div:nth-child(4) {
        background-image: url(../img/logos/college.png);
    }

    div:nth-child(5) {
        background-image: url(../img/logos/chicken.png);
    }

    div:nth-child(6) {
        background-image: url(../img/logos/elite.png);
    }

    div:nth-child(7) {
        background-image: url(../img/logos/cwd.png);
    }

    div:nth-child(8) {
        background-image: url(../img/logos/hansya.png);
    }

    div:nth-child(9) {
        background-image: url(../img/logos/know.png);
    }

    div:nth-child(10) {
        background-image: url(../img/logos/move.png);
    }

    div:nth-child(11) {
        background-image: url(../img/logos/nikola.png);
    }

    div:nth-child(12) {
        background-image: url(../img/logos/rekovo.png);
    }

    div:nth-child(13) {
        background-image: url(../img/logos/genetesis.png);
    }

    div:nth-child(14) {
        background-image: url(../img/logos/seamless.png);
    }

    div:nth-child(15) {
        background-image: url(../img/logos/ave.png);
    }
}

.rs-img-container {
    div:nth-child(1) {
        background-image: url(../img/rs-logos/baymont.png);
    }

    div:nth-child(2) {
        background-image: url(../img/rs-logos/best.png);
    }

    div:nth-child(3) {
        background-image: url(../img/rs-logos/comfort.png);
    }

    div:nth-child(4) {
        background-image: url(../img/rs-logos/holiday.png);
    }

    div:nth-child(5) {
        background-image: url(../img/rs-logos/howard.png);
    }

    div:nth-child(6) {
        background-image: url(../img/rs-logos/quality.png);
    }

    div:nth-child(7) {
        background-image: url(../img/rs-logos/ramada.png);
    }
}
