@font-face {
  src: url(../fonts/notoserif/NotoSerif-Regular.ttf);
  font-family: "Noto Serif"; }

@font-face {
  src: url(../fonts/raleway/Raleway-Regular.ttf);
  font-family: "Raleway"; }

@font-face {
  src: url(../fonts/raleway/Raleway-SemiBold.ttf);
  font-family: "Raleway";
  font-weight: bold; }

.inline {
  display: inline-block !important; }

.media-icons {
  display: none !important; }

@media (min-width: 768px) {
  .media-icons {
    float: right;
    display: inherit !important; } }

body {
  overflow-x: hidden;
  font-family: "Noto Serif", serif;
  -webkit-font-smoothing: antialiased; }

.ip {
  margin-right: 15px; }

.text-muted {
  color: #f7f7f7; }

.text-primary {
  color: #d85e00; }

p {
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0; }

a {
  color: #d85e00; }

a:hover,
a:focus,
a:active,
a.active {
  color: #d85e00; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #f7f7f7; }

.bg-darkest-gray {
  background-color: #222; }

.btn-primary {
  border-color: #a0c1d1;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #a0c1d1; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #f6bf01;
  color: #fff;
  background-color: #a0c1d1; }

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #a0c1d1;
  background-color: #a0c1d1; }

.btn-primary .badge {
  color: #a0c1d1;
  background-color: #fff; }

.btn-xl {
  padding: 20px 40px;
  border-color: #a0c1d1;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #a0c1d1; }

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: #ff7d19;
  color: #fff;
  background-color: #d85e00; }

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none; }

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  border-color: #d85e00;
  background-color: #d85e00; }

.btn-xl .badge {
  color: #d85e00;
  background-color: #fff; }

.navbar {
  margin-bottom: 0; }

.navbar-default .navbar-brand {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #d85e00; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #ff7d19; }

.navbar-brand > img {
  height: 50px;
  max-width: 250px;
  margin: -15px; }

.navbar-brand > img {
  height: 50px;
  max-width: 300px;
  margin: -15px; }

@media (min-width: 992px) {
  .navbar-brand > img {
    height: 50px;
    margin: -15px; } }

@media (max-width: 992px) {
  .container {
    width: auto; } }

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #222; } }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff7d19; }

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold !important;
  letter-spacing: 1px;
  opacity: 0.8;
  color: #fdfffc;
  background-color: transparent !important; }

.navbar-nav {
  white-space: nowrap;
  display: inline-block; }

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #ff7d19; }

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: #d85e00; }

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d85e00; }

.navbar-default {
  padding: 10px 0;
  border: 0;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s; }

.navbar-default .navbar-brand {
  font-size: 2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.navbar-default .navbar-nav > .active > a {
  border-radius: 3px; }

.navbar-default.navbar-shrink {
  background-color: #222;
  position: fixed;
  top: 0; }

.navbar-default.navbar-shrink .navbar-brand {
  font-size: 1.5em; }

.intro-logo {
  max-width: 200px;
  margin: auto;
  display: block;
  margin-bottom: 25px; }

.intro-lead-in {
  margin: auto;
  font-family: "Raleway Light", "Raleway", sans-serif;
  font-weight: 400 !important;
  color: #fdfffc;
  text-transform: none;
  padding-bottom: 10px; }

.intro-text {
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px !important;
  text-align: center; }

section {
  padding: 50px 0; }

h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px; }

h3.section-subheading {
  text-transform: none;
  color: #222;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin: auto;
  width: 75%; }

#about {
  background-color: #d85e00; }

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.05rem;
  margin-right: -0.05rem; }

.break {
  display: block;
  border-top: 1px solid #222;
  width: 20rem;
  margin: 2rem auto; }

.service-heading {
  margin: 15px 0;
  text-transform: none; }

#portfolio {
  background-color: #f7f7f7; }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px; }

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0; }

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff; }

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none; }

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: italic; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.flexbox-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.team-member {
  margin-bottom: 50px;
  text-align: center; }

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff; }

.team-member p {
  margin-top: 0; }

.team-member h3 {
  text-transform: none;
  font-weight: 600;
  color: #333; }

.team-member h4 {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  color: #777;
  margin-bottom: 0; }

.team-member h4 a {
  text-transform: none; }

.team-member h5 {
  font-size: 14px;
  text-transform: none;
  font-style: italic;
  font-weight: 200;
  color: #777;
  margin-bottom: 15px; }

.team-member .report {
  margin-top: 0; }

.team-member h5 a {
  text-transform: none; }

.team-member ul {
  list-style: none;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0; }

.team-bio {
  padding: 15px; }

@media (min-width: 992px) {
  aside.clients img {
    margin: 50px auto; } }

aside.clients img {
  margin-top: 50px; }

aside .heading {
  text-transform: none;
  color: #777;
  margin-top: 20px;
  margin-bottom: -40px; }

section#contact {
  background-color: #373a3f; }

section#contact .section-heading {
  color: #fff; }

section#contact .form-group {
  margin-bottom: 25px; }

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px; }

section#contact .form-group input.form-control {
  height: auto; }

section#contact .form-group textarea.form-control {
  height: 236px; }

section#contact .form-control:focus {
  border-color: #ff5a5f;
  box-shadow: none; }

section#contact .text-danger {
  color: #e74c3c; }

section#contact .text-success {
  color: #fff; }

footer {
  padding: 25px 0;
  text-align: center; }

footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: "Raleway", sans-serif;
  line-height: 40px; }

footer ul.quicklinks {
  margin-bottom: 0;
  text-transform: uppercase;
  text-transform: none;
  font-family: "Raleway", sans-serif;
  line-height: 40px; }

ul.social-buttons {
  margin-top: 20px;
  margin-bottom: 10px; }

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #d85e00; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0; }

.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  box-shadow: none; }

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em; }

.portfolio-modal .modal-content p {
  margin-bottom: 30px; }

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  font-style: italic; }

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px; }

.portfolio-modal .modal-content img {
  margin-bottom: 30px; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer; }

.portfolio-modal .close-modal:hover {
  opacity: 0.3; }

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

::-moz-selection {
  text-shadow: none;
  background: #d85e00; }

::selection {
  text-shadow: none;
  background: #d85e00; }

img::-moz-selection {
  background: 0 0; }

img::selection {
  background: 0 0; }

img::-moz-selection {
  background: 0 0; }

.blog-button {
  color: #d85e00 !important;
  font-size: 2em; }

.scroll-arrow {
  -webkit-animation: blinker 2s ease-in-out infinite;
          animation: blinker 2s ease-in-out infinite; }

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  overflow: hidden; }

.flexContainerAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.flexContainerItem {
  display: block;
  margin: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  font-size: 3em;
  padding: 1px;
  max-height: 100px;
  max-width: 216px !important;
  background-color: transparent;
  color: black !important;
  text-align: center;
  overflow: hidden; }

.flex-bitem-large {
  display: block;
  border: 0.4em solid white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  font-size: 3em;
  width: 100%;
  color: black !important;
  text-align: center;
  overflow: hidden; }

@media (min-width: 768px) {
  .flex-bitem-large {
    display: block;
    border: 0.4em solid white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    font-size: 3em;
    max-width: calc(100% * 0.48);
    color: black !important;
    text-align: center;
    overflow: hidden; } }

.flex-bitem-small {
  display: block;
  border: 0.4em solid white;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  font-size: 3em;
  width: 100%;
  color: black !important;
  text-align: center;
  overflow: hidden; }

@media (min-width: 768px) {
  .flex-bitem-small {
    display: block;
    border: 0.4em solid white;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    font-size: 3em;
    max-width: calc(100% * 0.35);
    color: black !important;
    text-align: center;
    overflow: hidden; } }

.bounding-box {
  background-image: url(...);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  width: 100%;
  min-height: 250px !important;
  border: 1px solid gray; }

.bounding-box-small {
  background-image: url(...);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  width: 100%;
  min-height: 250px !important;
  border: 1px solid gray; }

@media (min-width: 768px) {
  .bounding-box-small {
    background-image: url(...);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
    width: 100%;
    min-height: 180px !important;
    border: 1px solid gray; } }

.nav-parent {
  background-color: transparent;
  position: relative;
  top: 56px;
  width: 100%;
  padding: 0; }

.flexContainerSub {
  position: relative;
  opacity: 0;
  overflow: hidden;
  font-size: 54px;
  color: white; }

.fadeInUp {
  -webkit-animation: fadeInUp 0.6s ease-in-out forwards;
          animation: fadeInUp 0.6s ease-in-out forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.subtext {
  font-family: "Noto Serif", serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold; }

.social-media a {
  opacity: 0.8;
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
  display: inline-block;
  padding: 10px !important;
  color: #fdfffc !important; }

.nav-align {
  width: 74vw !important;
  margin: auto;
  position: relative; }

.nav-original {
  padding-left: 10px; }

.fa:hover {
  color: #ff7d19; }

@-webkit-keyframes blinker {
  50% {
    opacity: 0; } }

@keyframes blinker {
  50% {
    opacity: 0; } }

@-webkit-keyframes fadeInUp {
  from {
    top: 100px;
    opacity: 0; }
  to {
    top: -4px;
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    top: 100px;
    opacity: 0; }
  to {
    top: -4px;
    opacity: 1; } }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px !important;
  position: relative; }

/*
--Keyframes Slider - Lg
*/
@-webkit-keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.png); }
  33% {
    background-image: url(../img/banner-2.png); }
  66% {
    background-image: url(../img/banner-3.png); }
  100% {
    background-image: url(../img/banner-1.png); } }
@keyframes slider-lg {
  0% {
    background-image: url(../img/banner-1.png); }
  33% {
    background-image: url(../img/banner-2.png); }
  66% {
    background-image: url(../img/banner-3.png); }
  100% {
    background-image: url(../img/banner-1.png); } }

@-webkit-keyframes fade-out {
  27% {
    opacity: 0; }
  33% {
    opacity: 1; }
  60% {
    opacity: 1; }
  66% {
    opacity: 0; } }

@keyframes fade-out {
  27% {
    opacity: 0; }
  33% {
    opacity: 1; }
  60% {
    opacity: 1; }
  66% {
    opacity: 0; } }

ul.kf-slider li {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -4;
  opacity: 0; }

ul.kf-slider li:nth-child(1) {
  background-image: url(../img/banner-1.png);
  opacity: 1; }

ul.kf-slider li:nth-child(2) {
  background-image: url(../img/banner-2.png);
  -webkit-animation: fade-out 18s infinite both ease-in-out;
          animation: fade-out 18s infinite both ease-in-out;
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

ul.kf-slider li:nth-child(3) {
  background-image: url(../img/banner-3.png);
  -webkit-animation: fade-out 18s infinite both ease-in-out;
          animation: fade-out 18s infinite both ease-in-out;
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }

.social-media a {
  padding: 10px 5px !important; }

/*# sourceMappingURL=styles.css.map */
